.flexe{
    
    display: flex;
    
    gap: 20px;
    
}
.add-sec-1{
    height: fit-content;
}

@media only screen and (max-width: 425px) {
    .flexe{
        flex-direction: column;
        gap: 0;
    }
}

@media (min-width: 425px) and (max-width: 820px){
    .flexe{

        flex-direction: column;
        gap: 0;
    }
}
/* @media (min-width: 768px) and (max-width: 1440px){
    .flex{
        flex-direction: row;
        gap: 0;
    }
} */
