.single-ads{
    margin: 20px 0 ;
    /* width: 45%; */
    height: 500px;
    background-color: aqua;
    border: 1px solid rgba(0, 0, 0, 0.596);
    background-image: url(./image.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


@media only screen and (max-width: 425px) {
   
    .single-ads{
        background-size: cover; 
        background-position: bottom;
        height: 230px;
    }
}
